# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv


#env
/server/.env

# pre-commit
.pre-commit-config.yaml
node_modules/
/client/node_modules
.android*
/client/.expo
/client/package-lock.json
/client/yarn.lock
/client/.bundle
/client/__tests__
/webclient/node_modules
/server/bin
